<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  CarBuy.by</title>
    @await Html.PartialAsync("cssPartial")
</head>
<body>
     @RenderBody()
    <!-- footer top area -->
    @await Html.PartialAsync("FooterPartial")
    <!-- End footer bottom area -->
    @await Html.PartialAsync("ScriptsPartial")
   
</body>
</html>
