<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="connectionString"
		 providerName="Microsoft.Data.SqlClient"
		 connectionString="Data Source=DESKTOP-0I4E7H3\\SQLEXPRESS;  Database=CarBuy_DB;  Persist Security Info =false; User='sa'; Password='sa'; MultipleActiveResultSets=True; Trusted_Connection=False;" />
	</connectionStrings>
</configuration>