@model CarBuy.WEB.Models.ForgotPasswordViewModel

<div class="container">
    <div class="login_form_area">
        <div class="header_login_form">
            <h1>Восстановление пароля</h1>
        </div>
        <form class="login_form" asp-area="" asp-controller="Account" asp-action="ForgotPassword" method="post">
            <div class="login_form_items">
                <input asp-for="Email" placeholder="Укажите свой Email" />
                <span asp-validation-for="Email" class="spanErr"></span>
            </div>
           
            <div class="login_form_items_btn">
                <button type="submit">Отправить</button>
            </div>
        </form>
      
    </div>
</div>