@model CarBuy.WEB.Models.ResetPasswordViewModel

<div class="container">
    <div class="login_form_area">
        <div class="header_login_form">
            <h1>Восстановление пароля</h1>
        </div>
        <form class="login_form" asp-area="" asp-controller="Account" asp-action="ResetPassword" method="post">
            <div class="login_form_items">
                <input asp-for="Code" type="hidden" />
                <input asp-for="Email" placeholder="Укажите свой Email" />
                <span asp-validation-for="Email" class="spanErr"></span>
            </div>
            <div class="login_form_items">
                <input asp-for="Password" placeholder="Укажите свой новый пароль" />
                <span asp-validation-for="Password" class="spanErr"></span>
            </div>
            <div class="login_form_items">
                <input asp-for="ConfirmPassword" placeholder="Повторите свой новый пароль" />
                <span asp-validation-for="ConfirmPassword" class="spanErr"></span>
            </div>

            <div class="login_form_items_btn">
                <button type="submit">Отправить</button>
            </div>
        </form>

    </div>
</div>
